<!-- wp:our-block-theme/header /-->

<!-- wp:our-block-theme/banner -->
<!-- wp:our-block-theme/generic-heading {"text":"Welcome!"} -->
<h1 class="wp-block-our-block-theme-generic-heading headline headline--large">Welcome!</h1>
<!-- /wp:our-block-theme/generic-heading -->

<!-- wp:our-block-theme/generic-heading {"text":"We think you’ll like it here.","size":"medium"} -->
<h2 class="wp-block-our-block-theme-generic-heading headline headline--medium">We think you’ll like it here.</h2>
<!-- /wp:our-block-theme/generic-heading -->

<!-- wp:our-block-theme/generic-heading {"text":"Why don’t you check out the \u003cstrong\u003emajor\u003c/strong\u003e you’re interested in?","size":"small"} -->
<h3 class="wp-block-our-block-theme-generic-heading headline headline--small">Why don’t you check out the <strong>major</strong> you’re interested in?</h3>
<!-- /wp:our-block-theme/generic-heading -->

<!-- wp:our-block-theme/generic-button {"text":"Find Your Major"} -->
<a class="wp-block-our-block-theme-generic-button btn btn--medium btn--blue">Find Your Major</a>
<!-- /wp:our-block-theme/generic-button -->
<!-- /wp:our-block-theme/banner -->

<!-- wp:our-block-theme/events-and-blogs /-->

<!-- wp:our-block-theme/slide-show -->
<!-- wp:our-block-theme/slide {"themeimage": "bus.jpg"} -->
<!-- wp:our-block-theme/generic-heading {"text":"Free Transportation","size":"medium"} -->
<h2 class="wp-block-our-block-theme-generic-heading headline headline--medium">Free Transportation</h2>
<!-- /wp:our-block-theme/generic-heading -->

<!-- wp:our-block-theme/generic-heading {"text":"All Students have unlimited bus fare.","size":"small"} -->
<h3 class="wp-block-our-block-theme-generic-heading headline headline--small">All Students have unlimited bus fare.</h3>
<!-- /wp:our-block-theme/generic-heading -->

<!-- wp:our-block-theme/generic-button {"text":"Learn More","colorName":"dark-orange"} -->
<a class="wp-block-our-block-theme-generic-button btn btn--medium btn--dark-orange">Learn More</a>
<!-- /wp:our-block-theme/generic-button -->
<!-- /wp:our-block-theme/slide -->

<!-- wp:our-block-theme/slide {"themeimage":"apples.jpg"} -->
<!-- wp:our-block-theme/generic-heading {"text":"An Apple a Day","size":"medium"} -->
<h2 class="wp-block-our-block-theme-generic-heading headline headline--medium">An Apple a Day</h2>
<!-- /wp:our-block-theme/generic-heading -->

<!-- wp:our-block-theme/generic-heading {"text":"Our denstistry program recommends eating applies.","size":"small"} -->
<h3 class="wp-block-our-block-theme-generic-heading headline headline--small">Our denstistry program recommends eating applies.</h3>
<!-- /wp:our-block-theme/generic-heading -->

<!-- wp:our-block-theme/generic-button {"text":"Learn More"} -->
<a class="wp-block-our-block-theme-generic-button btn btn--medium btn--blue">Learn More</a>
<!-- /wp:our-block-theme/generic-button -->
<!-- /wp:our-block-theme/slide -->

<!-- wp:our-block-theme/slide {"themeimage": "bread.jpg"} -->
<!-- wp:our-block-theme/generic-heading {"text":"Free Food","size":"medium"} -->
<h2 class="wp-block-our-block-theme-generic-heading headline headline--medium">Free Food</h2>
<!-- /wp:our-block-theme/generic-heading -->

<!-- wp:our-block-theme/generic-heading {"text":"Fictional University offers lunch plans for those in need.","size":"small"} -->
<h3 class="wp-block-our-block-theme-generic-heading headline headline--small">Fictional University offers lunch plans for those in need.</h3>
<!-- /wp:our-block-theme/generic-heading -->

<!-- wp:our-block-theme/generic-button {"text":"Learn More"} -->
<a class="wp-block-our-block-theme-generic-button btn btn--medium btn--blue">Learn More</a>
<!-- /wp:our-block-theme/generic-button -->
<!-- /wp:our-block-theme/slide -->
<!-- /wp:our-block-theme/slide-show -->

<!-- wp:our-block-theme/footer /-->